.hero4Container{
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:#ffffff;
    margin-top: 20px;

}

.hero4-title-left{
justify-content: center;
align-items: center;
}

.hero4-text-container{
width: 50%;
text-align: left;
}

.hero4-title-left >h2{
    font-family: "Inter";
    color: #3A0CA3;
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 10px; 
}
.hero4-title-left >p{
    font-weight: 400;
    font-family: Inter;
    color: #012A4A;
        font-size: 12px;
    margin-bottom: 10px;
    padding-top: 10px;
   }

.hero4-instructionsContainer-left{
    text-align: left;
}


.hero4-instructionsContainer-left >small{
    font-family: Inter;
    font-weight: 200;
    font-size: 10px;
    color: #012A4A;
    width: 24px;
    }
    .hero4-instructionsContainer-left >h3{
   width: 375px;
   font-family: Inter;
   font-weight: 600;
   color: #012A4A;
   padding-top: 10px;
   margin-bottom: 5px; 
    }
    .hero4-instructionsContainer-left >p{
        padding-top: 10px;
        margin-bottom: 5px;
        font-weight: 100;
        font-size: 12px;
    }


.hero4ImgContainer-right{
    display: flex;
    justify-content: end;
    padding: 1em;
}

.hero4ImgContainer-right img{
    height: auto;
    width: 15rem;
    object-fit: contain;
    border-radius: 1em;
}
