@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

/* body {
    width: fit-content;
} */
.container {
    display: grid;
    grid-template-columns: 50% 50%;
    flex-wrap:nowrap;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    margin: 0 30px 0 30px;
}

.left {
    display: grid;
    grid-template-columns: auto;
    padding-left: 100px;
}
.left_card {
    display: flex;
    align-items: center;
    height: fit-content;
    /* justify-items: center; */
}

.left > h1 {
    color: #3A0CA3;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
}
.left > p,h2,h4 {
    color:#012A4A;
    /* text-align:start; */
}
.left > p {
    font-weight: 400;
}
.content {
    align-items: space-around;
}
.content > p {
    align-self: center;
    font-size: 16px;
}
.content > h2 {
    font-weight: 600;
    font-size: 24px;
}
.content > h4 {
    font-weight: 300;
    font-size: 14px;
}
.right {
    background-image: linear-gradient(180deg, rgb(236, 219, 248), rgb(203, 230, 239));
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 20px;
}
.pointer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding-right: 30px;
}
.line {
    border-left: 1px solid #012A4A;
    height: 90px;
}
.circle {
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px white, 0px 0px 0px 11px #012A4A;
    background: #012A4A;
    width: 16px;
    height: 16px;
    margin-bottom: 15px;
  }

  @media screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }
    .left {
        margin: 0 50px;
        padding: 0;
    }
    .right {
        margin: 0 50px;
        width: 100%;
    }
    
  }