.app__resetPassword-container {
    background-color: red;
    width: 100%;
    height: 100vh;
    display: flex;
  }

  
  .app__resetPassword-form {
    background-color: white;
    flex: 4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;  
  }

  .app__resetPassword-h2{
    height:50px;
    font-size: 24px;
    line-height: 24px;

  }

  .app__resetPassword-Label {
    color: #012a4a;
    padding-top: 20px;
  }

  .inputField input {
    width: 395px;
    height: 40px;
    display: block;
    outline: none;
    border-radius: 6px;
    padding: 8px 0.3rem;
    border-color: lightgray;
    border-top: 0.1rem solid;
    border-bottom: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#C4C4C4
  } 


  .app__resetPassword-resetBtn{
    background: linear-gradient(to right, #3146e7, #0a195e); 
    color: white;
    width:407px;
    font-weight: bold;
    height: 48px;
    margin-top: 30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;


} 

.app__resetPassword-picture {
    background-color: yellow; 
    flex: 6;
    background-image: url(../../assets/loginPicture.png);
    background-repeat: no-repeat;
    background-size: cover;
    
  } 

  .isioma{
    margin-top: 150px;
   
  }

  @media only screen and (max-width: 768px) {
    .app__resetPassword-container {
      background-color: white;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
  