button{
    height: 20px; 
     width: 70px;
    background: linear-gradient(90deg, #4361EE, #3A0CA3);
    border-radius: 2px;
    padding: 6px;
    color: #fff;
    border: none;

    /* align-items: center; */
    /* justify-content: center; */
}

h2{
    font-size: 6px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-style: bold;

}