button{
    height: 20px;
    width: 100px;
    background-color: #4361EE
    ;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;

}